{% extends 'base.html.twig' %}

{% block body %}
    <div class="article-infos">
        <strong>{{ articles | length }}</strong> article retrouvés
        <p>Articles de la categorie : <strong>{{ category.name }}</strong></p>
    </div>
    <div class="articles">
        {% for article in articles %}
            <a href="{{ path('app_single_article', {'slug' : article.slug}) }}" class="article-item">
                <div class="article-image">
                    <img src="{{ article.imageUrl }}" alt="Image de l'article : {{ article.title }}">
                </div>
                <div class="article-details flex">
                    <div class="article-author-details">
                        <div class="article-author-picture">
                            {{ include('blog/picture.html.twig') }}
                        </div>
                    </div>
                    <div class="article-content-details">
                        <h2 class="article-title">{{ article.title }}</h2>
                        <div class="article-createdAt">{{ article.fromNow }}</div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}
    BJstore - category {{ category.name }}
{% endblock %}

