{% extends 'base.html.twig' %}

{% block body %}
    <div class="single-articles">

        <div class="article-image" style="background-image: url('{{ article.imageUrl }}')">
        </div>

        <div class="article-details flex">
            <div class="article-author-details">
                <div class="article-author-picture">
                    <img src="{{ article.author.profile.picture }}"
                         alt="Image de profile de {{ article.author.fullName }}">
                </div>
            </div>
            <div class="article-content-details">
                <h2 class="article-title">{{ article.title }}</h2>
                <div class="article-createdAt">{{ article.fromNow }}</div>

                <div class="article-categories flex wrap">
                    {% for category in article.categories %}
                        <div class="article-category-item badge">
                            {{ category.name }}
                            ({{ category.articles | length }}) article(s) publié
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="content">
            {{ article.content }}
        </div>

    </div>
{% endblock %}

{% block title %}
    {{ article.title }}
{% endblock %}

