<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    {% endblock %}


</head>
<body>
<header>
    <a href="{{ path('app_blog') }}">
        <h2>Blog</h2>
    </a>
    <nav>
        <ul class="nav-bar flex aic">
            <li class="nav-item"><a href="#">About</a></li>
            <li class="nav-item down">
                <a href="#">Categories</a>
                <ul class="nav-bar">
                    {% for category in app.session.get("categories") %}
                        <li class="nav-item">
                            <a href="{{ path('app_article_by_category', {'slug' :category.slug}) }} ">{{ category.name }} </a>
                            ({{ category.articles| length }}articles)
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item"><a href="{{ path('app_contact') }}">Contact</a></li>
            {% if app.user %}
                <li class="nav-item"><a href="{{ path('app_article_index') }}">Compte</a></li>
                <li class="nav-item"><a href="{{ path('app_logout') }}">Deconexion</a></li>
            {% else %}
                <li class="nav-item"><a href="{{ path('app_login') }}">Conexion</a></li>
                <li class="nav-item"><a href="{{ path('app_register') }}">Inscription</a></li>
            {% endif %}

        </ul>
    </nav>
</header>

{% block slider %}{% endblock %}

<div class="container">
    {% block body %}{% endblock %}
</div>

<footer>
    <div class="container">
        <div class="footer-content flex wrap">
            <div class="footer-content-item flex-1 b">
                <h2>Blog</h2>
                <p>Site d'informations et d'actualités sur tous les sujets relatifs à l'informatique,
                    l'economie, la situation dans le monde, etc...
                </p>
            </div>
            <div class="footer-content-item flex-1 b">
                <h2>Mentions légales</h2>
                <ul>
                    <li><a href="">Condition d'utilisation</a></li>
                    <li><a href="">Condition de ventes</a></li>
                    <li><a href="">Condition de publication</a></li>
                </ul>
            </div>
            <div class="footer-content-item flex-1 b">
                <h2>Formations gratuites</h2>
                <ul>
                    <li>
                        <a href="https://free.mudey.fr/programme/apprendre-les-bases-indispensables-du-langage-html-5"
                           target="_blank">Les bases HTML 5</a>
                    </li>
                    <li>
                        <a href="https://free.mudey.fr/programme/apprendre-les-bases-indispensables-du-langage-css-3"
                           target="_blank">Les bases CSS 3</a>
                    </li>
                    <li>
                        <a href="https://free.mudey.fr/programme/apprendre-les-bases-indispensables-du-langages-javascript"
                           target="_blank">Les bases JavaScript</a>
                    </li>
                    <li>
                        <a href="https://free.mudey.fr/programme/les-bases-indispensables-du-langage-php"
                           target="_blank">Les bases PHP</a>
                    </li>
                    <li>
                        <a href="https://mudey.fr/programme/formation-complete-developpeur-web-full-stack"
                           target="_blank">Devenir Expert du Web</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ asset('assets/js/jquery-3.7.1.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Readmore.js/2.0.2/readmore.min.js" integrity="sha512-llWtDR3k09pa9nOBfutQnrS2kIEG7M6Zm7RIjVVLNab1wRs8NUmA0OjAE38jKzKeCg+A3rdq8AVW41ZTsfhu5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ asset('assets/js/select2.min.js') }}"></script>
<script src="{{ asset('assets/js/editor.js') }}"></script>
{% block javascripts %}

{% endblock %}

</body>
</html>
